.login-heading-contanier{
    color: brown;

}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    /*border: 2px solid black; */
    background-color: black;
    color: aliceblue;
    align-items: center;
    margin: auto;
    margin-top: 50px;

}
.form img{
    width: 75px;
    height: 75px;
    margin-top: -35px;
}
.form h1{
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    margin: 15px;
    width: 65%;
}
#submit{
    padding: 12px;
    width: 50%;
    margin: 40px;
    background-color: #ffa726;
    color: #ffff;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    outline: none;
}
#submit:hover{
    cursor: pointer;
    background-color: orangered;

}
